<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div class="banner"><img src="/images/jiansi.jpg" style="width:100%;"></div>
{{>aboutmanjusri}}
<div class="list">
    <div class="list_t"><a href="/jingyin/manjusri/suixi">随喜所有建寺功德</a><span>>></span></div>
    <ul class="list_p">
        <li><a href="/jingyin/manjusri/dailyVirtue">
            <img src="/images/product1.jpg">
            <div class="text1">日行一善</div>
        </a></li>

        {{#each parts}}
            <li style="border-right: none;"><a href="/jingyin/manjusri/trans/{{_id}}">
                <img src="{{img}}">
                <div class="text1">{{name}}</div>
                <div class="text2">【已捐{{sold}}份，剩余{{num}}份】</div>
                <div class="text3">¥<span>{{price}}</span> /尊</div>
            </a></li>
        {{/each}}
    </ul>
</div>
<div class="cardinfo">
    <p class="cardinfo_t1">静 音 寺 护 持 账 号</p>
    <p class="cardinfo_t2">SUPPORT BANK ACCOUNT</p>
    <p class="cardinfo_t3">您同时可以通过银行电汇的形式护持静<br>音寺的建设，请务必在备注信息处填写<br>护持种类及护持金额。随喜！</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">护 持 账 号</p>
    <p class="cardinfo_num">6228 4616 6000 0781 611</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">护 持 账 户 名</p>
    <p class="cardinfo_name">魏将帅</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">护持账户开户行</p>
    <p class="cardinfo_name">中国农业银行五台县支行五台山分理处</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">支付宝账号</p>
    <p class="cardinfo_name"><span>18235175556</span>魏将帅</p>
    <p class="cardinfo_name"></p>
    <p class="cardinfo_name">联系方式</p>
    <p class="cardinfo_name"><span>15110555539</span>释同尚</p>
</div>
{{>copyright}}
{{>footnav}}

</body>
</html>