<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>我的信息</title>

    <style type="text/css">
        body {
            margin: 0;
            background-color: #fdf6d5;
        }

        .myProfileEditor {
            width: 100%;
            line-height: 180px;;
            margin-top: 10px;
            margin-bottom: 5px;
            padding-left: 20px;;
            background-color: #FFF;
            overflow: hidden;
        }

        .myProfileEditor .content {
            line-height: 260px;
            margin-left: 10%;
            vertical-align: middle;
            overflow: hidden;
        }

        .myProfileEditor .content .icon {
            float: left;
            width: 150px;
            line-height: 260px;
            vertical-align: middle;
            background-image: url("/images/touxiang150_2.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        .myProfileEditor .content .nickName {
            float: left;
            line-height: 260px;
            padding-left: 5%;
            vertical-align: middle;
            font-size: 42px;
        }

        .formItem {
            width: 100%;
            line-height: 180px;;
            margin-bottom: 3px;
            padding-left: 20px;;
            vertical-align: middle;
            background-color: #FFF;
            overflow: hidden;
        }

        .formItem .label {
            float: left;
            width: 220px;
            line-height: 180px;;
            font-size: 42px;
            margin-left: 15px;
            vertical-align: middle;
        }

        .formItem .editor {
            width: 60%;
            line-height: 78px;;
            padding:0;
            font-size: 42px;
            vertical-align: middle;
        }

        .nickNameIcon {
            float: left;
            line-height: 180px;
            background-image: url("/images/xing.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 76px;
        }

        .realNameIcon {
            float: left;
            line-height: 180px;
            background-image: url("/images/ren.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 76px;
        }

        .mobileIcon {
            float: left;
            line-height: 180px;
            background-image: url("/images/shouji.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 76px;
        }

        .addressIcon {
            float: left;
            line-height: 180px;
            background-image: url("/images/fang.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 76px;
        }

        .emailIcon {
            float: left;
            line-height: 180px;
            background-image: url("/images/mail.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 76px;
        }

        .form-tool{
            width: 100%;
            line-height: 180px;;
            margin-bottom: 3px;
            padding-left: 20px;;
            text-align: center;
            vertical-align: middle;
            background-color: #FFF;
            overflow: hidden;
        }

        .form-tool .ok{
            width:166px;
            height:70px;
            font-size: 52px;
            vertical-align: middle;
            margin-right: 50px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #3CC51F;
        }
    </style>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function save() {
            alert('保存成功');
            var dataToUpdate = {
                name : $('#txtName').val(),
                realname : $('#txtRealname').val(),
                phone:$('#txtPhone').val(),
                email:$('#txtEmail').val(),
                addr : $('#txtAddr').val()
            };

            var url = '/jingyin/manjusri/lords/{{openid}}/profile';
            $.put(url,dataToUpdate,function(data){
                        alert('保存成功');
                        window.location =  '/jingyin/manjusri/lordvirtues';
                    }
            );
        }
    </script>
</head>

<body>

<div class="myProfileEditor">
    <div class="content">
        <div class="icon">&nbsp;</div>
        <div class="nickName">{{name}}</div>
    </div>
</div>

<div class="formItem">
    <div class="nickNameIcon">&nbsp;</div>
    <div class="label">昵称</div>
    <input class="editor" id="txtName" type="text" value="{{name}}"/>
</div>

<div class="formItem">
    <div class="realNameIcon">&nbsp;</div>
    <div class="label">真实姓名</div>
    <input class="editor" id="txtRealname" type="text" value="{{realname}}"/>
</div>

<div class="formItem">
    <div class="content">
        <div class="mobileIcon">&nbsp;</div>
        <div class="label">手机</div>
        <input class="editor" id="txtPhone" type="text" value="{{phone}}"/>
    </div>
</div>

<div class="formItem">
    <div class="addressIcon">&nbsp;</div>
    <div class="label">地址</div>
    <input class="editor" id="txtAddr" type="text" value="{{addr}}"/>
</div>

<div class="formItem">
    <div class="emailIcon">&nbsp;</div>
    <div class="label">邮箱</div>
    <input class="editor" id="txtEmail" type="text" value="{{email}}"/>
</div>

<div class="form-tool">
    <input type="button" class="ok" value="填好了" onclick="save()"/>
</div>
</body>
</html>
