<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <meta name="format-detection" content="telphone=no,email=no" />
    <link rel="stylesheet" href="/css/lordVirtues.css">
    <script src="/js/jquery-1.8.3.min.js"></script>
    <title>我的信息</title>
    <script type="text/javascript">
        function save() {
            var dataToUpdate = {
                name : $('#txtName').val(),
                realname : $('#txtRealname').val(),
                phone:$('#txtPhone').val(),
                email:$('#txtEmail').val(),
                addr : $('#txtAddr').val()
            };

            var url = '/jingyin/manjusri/lords/{{openid}}/profile';

            $.ajax({
                url: url,
                type: 'PUT',
                data:dataToUpdate
            }).done(function(data){
                window.location =  '/jingyin/manjusri/lordvirtues';
            }).fail(function(){
                alert('保存失败.')
            }).always(function(){
                //alert('completed!');
            });
        }

        function cancel(){
            window.location =  '/jingyin/manjusri/lordvirtues';
        }
    </script>
</head>

<body>
<main id="page" class="page-wrap">
    <div class="page">
        <div class="content">
            <div class="media-list media-list--after-v  media-item--custom-my">
                <div class="media-item">
                    <div class="item-bd">
                        <a href="javascript:void(0)">
                            <h4 class="bd-tt">{{name}}</h4>
                        </a>
                    </div>
                    <img src="{{img}}" class="item-img" width="60px" height="60px">
                </div>
            </div>
        </div>
        <div class="content">
            <ul class="line-list line-list--indent line-list--flex">
                <li class="line-item">
                    <i class="icon-info"></i>
                    <p class="item-tt">昵称</p>
                    <span class="item-append"><input id="txtName" type="text" value="{{name}}" style="width: 200px"/></span>
                </li>

                <li class="line-item">
                    <i class="icon-info"></i>
                    <p class="item-tt">真实姓名</p>
                    <span class="item-append"><input id="txtRealname" type="text" value="{{realname}}" style="width: 200px"/></span>
                </li>
            </ul>
            <ul class="line-list line-list--indent line-list--flex">
                <li class="line-item">
                    <i class="icon-info"></i>
                    <p class="item-tt">手机号</p>
                    <span class="item-append"><input id="txtPhone" type="text" value="{{phone}}" style="width: 200px"/></span>
                </li>
                <li class="line-item">
                    <i class="icon-info"></i>
                    <p class="item-tt">邮箱</p>
                    <span class="item-append"><input id="txtEmail" type="text" value="{{email}}" style="width: 200px"/></span>
                </li>
                <li class="line-item">
                    <i class="icon-info"></i>
                    <p class="item-tt">地址</p>
                    <span class="item-append"><input id="txtAddr" type="text" value="{{addr}}" style="width: 200px"/></span>
                </li>
            </ul>
            <div>&nbsp;</div>
            <div class="form-tool">
                <div align="center">
                    <input type="button" class="ok" value="确认" onclick="save()"/>
                    <input type="button" class="ok" value="取消" onclick="cancel()"/>
                </div>
            </div>
            <div class="card-list card-list--gap card-list--custom">
                <div class="card-item ">
                    <img src="/images/logo.png" alt="" class="item-img" width="80">
                </div>
                <span class="item-tt">Copyright @2017 The Jin Yin Temple</span>
            </div>
        </div>
    </div>
</main>

<footer class="fixed-bottom">
    <ul class="nav-list nav-list--bottom nav-list--custom">
        <li class="nav-item active">
            <p class="item-txt" onclick="window.location='/jingyin/manjusri/index'">首页</p>
        </li>
        <li class="nav-item">
            <p class="item-txt" onclick="window.location='/jingyin/manjusri/jiansi'">建寺</p></a>
        </li>
        <li class="nav-item">
            <p class="item-txt"></p>
        </li>
        <li class="nav-item">
            <p class="item-txt"></p>
        </li>
        <!--<li class="nav-item">
            <p class="item-txt">功课</p>
        </li>
        <li class="nav-item">
            <p class="item-txt">查询</p>
        </li>-->
    </ul>
</footer>
<!--
<section class="dialog-wrap active">
    <div class="overlay"></div>
    <div class="dialog">
        <div class="dialog-bd">
            <h3 class="bd-tt">昵称</h3>
            <p class="bd-txt txt--left">
                <input type="text" class="f-text" placeholder="请在此处输入您的昵称">
            </p>
        </div>
        <footer class="dialog-ft">
            <span class="js-cancel ft-btn">取消</span>
            <span class="js-save ft-btn">保存</span>
        </footer>
    </div>
</section>
-->
</body>

</html>