<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div class="banner"><img style="margin: auto; width: 300px; height: 300px" src="{{part.img}}"></div>
<div class="product">
    <span hidden id="trans_subject">{{part._id}}</span>
    <div class="product_name" id="trans_name">{{part.name}}</div>
    <div class="product_num">【已捐{{part.sold}}份，剩余{{part.num}}份】</div>
    <div class="product_price">¥<span id="trans_price">{{part.price}}</span> /尊</div>
    <ul>
        <li class="jian">-</li>
        <li id="trans_num" class="val">1</li>
        <li class="jia">+</li>
    </ul>
</div>
<div class="btn">
    <a id="show-confirm" href="#">随 喜</a>
</div>
{{>aboutmanjusri}}
{{>footnav}}
<!--<div class="pop">
    <dl class="pop_content">
        <dt><span>姓名</span><input type="text"></dt>
        <dt><span>电话</span><input type="text"></dt>
        <dt><span>地址</span><input type="text" class="a4"><textarea class="a5" style="display: none; height: 320px;"></textarea></dt>
        <dd><a href="#">确认 </a></dd>
    </dl>
</div>-->
<script>
    $("#show-confirm").click(function () {
        var dataToPost = {
            subject: $('#trans_subject').text(),
            price:$('#trans_price').text() * 1,
            num: $('#trans_num').text() * 1,
        };
        alert(JSON.stringify(dataToPost));
        dataToPost.amount = dataToPost.price * dataToPost.num;
        alert(JSON.stringify(dataToPost));
        requestDoTansaction(dataToPost);
    });
</script>
</body>
</html>