<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
<div class="banner"><img style="margin: auto; width: 300px; height: 300px" src="{{part.img}}"></div>
<div class="product">
    <span hidden id="trans_subject">{{part._id}}</span>
    <div class="product_name" id="trans_name">{{part.name}}</div>
    <div class="product_num">【已捐{{part.sold}}份，剩余{{part.num}}份】</div>
    <div class="product_price">¥<span id="trans_price">{{part.price}}</span> /尊</div>
    <ul>
        <li class="jian">-</li>
        <li id="trans_num" class="val">1</li>
        <li class="jia">+</li>
    </ul>
</div>
<div class="btn">
    <a id="show-confirm" href="#">随 喜</a>
</div>
{{>aboutmanjusri}}
{{>footnav}}
<!--<div class="pop">
    <dl class="pop_content">
        <dt><span>姓名</span><input type="text"></dt>
        <dt><span>电话</span><input type="text"></dt>
        <dt><span>地址</span><input type="text" class="a4"><textarea class="a5" style="display: none; height: 320px;"></textarea></dt>
        <dd><a href="#">确认 </a></dd>
    </dl>
</div>-->
<script>
    $("#show-confirm").click(function () {
        var url = '/jingyin/rest/virtues/prepay';
        var dataToPost = {
            subject: $('#trans_subject').text(),
            price:$('#trans_price').text() * 1,
            num: $('#trans_num').text() * 1,
        };
        dataToPost.amount = dataToPost.price * dataToPost.num;

        function parseLinksInHeader(linksInHeader) {
            var linkages = {}
            var links = linksInHeader.split(',');
            links.forEach(function (str) {
                var segs = str.split(';');
                var linkStr = $.trim(segs[0]);
                var relStr = $.trim(segs[1]);
                var rel = relStr.substr(5, relStr.length - 6);
                var link = linkStr.substr(1, linkStr.length - 2);
                linkages[rel] = link;
            });
            return linkages;
        }

        $.ajax({
            type: 'POST',
            url:url,
            data: dataToPost,
            success: function(data, textStatus, request){
                var linkages = parseLinksInHeader(request.getResponseHeader('link'));
                alert(linkages.payment);
                window.location = linkages.payment;
                return;
            },
            error: function (request, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });
</script>
</body>
</html>