<ul class="nav nav-tabs p-fix">
    <div class="row" align="center">
        <div class="col-xs-1-4" align="center"><li><a href="{{menu.home}}">首页</a></li></div>
        <div class="col-xs-1-4" align="center"><li><a href="{{menu.jiansi}}">建寺</a></li></div>
        <!--<div class="col-xs-1-5" align="center"><li><a href="{{menu.pray}}">祈福</a></li></div>-->
        <div class="col-xs-1-4" align="center"><li><a href="{{menu.lesson}}">共修</a></li></div>
        <div class="col-xs-1-4" align="center"><li><a href="{{menu.lord}}">我</a></li></div>
    </div>
</ul>