<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的个人信息</title>
    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/info.css" rel="stylesheet">
    <link href="/assets/css/jw.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function save() {
            var dataToUpdate = {
                name: $('#txtName').val(),
                realname: $('#txtRealname').val(),
                phone: $('#txtPhone').val(),
                email: $('#txtEmail').val(),
                province: $('#txtProvince').val(),
                city: $('#txtCity').val(),
                addr: $('#txtAddr').val(),
            };

            var url = '{{links.profile}}';

            $.ajax({
                url: url,
                type: 'PUT',
                data: dataToUpdate
            }).done(function (data) {
                window.location = '{{links.lord}}';
            }).fail(function () {
                alert('保存失败.')
            }).always(function () {
                //alert('completed!');
            });
        }

        function cancel() {
            window.location = '{{links.lord}}';
        }
    </script>

</head>
<body>
<div class="wrapper container-fluid">
    <!-- header -->
    <div class="row header mt0">
        <div class="headwrap">
            <div class="row p-r">
                <div class="col-xs-12 headleft ofe">
                    <div class="logoaImg ">
                        <img src="{{data.img}}" alt="" class="br40">
                    </div>
                    <span class="logoaTitle" style="font-size: 16px">
                        {{data.name}}
                    </span>
                </div>

                <span class="glyphicon glyphicon-chevron-right p-a c999 t42 r20"></span>
            </div>
        </div>
    </div>
    <form action="#">
        <div class="content plr15 bcfff mt10 mlr-15">
            <div class="bb1sccc p15">
                <img src="/assets/images/icon9.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">昵称</span>
                <input id="txtName" type="text" class="bgn bn w200" value="{{data.name}}">
            </div>
            <div class=" p15">
                <img src="/assets/images/icon10.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">真实姓名</span>
                <input id="txtRealname" type="text" class="bgn bn w200" value="{{data.realname}}">
            </div>

        </div>
        <div class="content plr15 bcfff mt10 mlr-15">
            <div class="bb1sccc p15">
                <img src="/assets/images/a.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">手机号</span>
                <input id="txtPhone" type="number" class="bgn bn w200" value="{{data.phone}}">
            </div>
            <div class="bb1sccc p15">
                <img src="/assets/images/a.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">邮箱</span>
                <input id="txtEmail" type="text" class="bgn bn w200" value="{{data.email}}">
            </div>
            <div class="bb1sccc p15">
                <img src="/assets/images/a.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">省份</span>
                <input id="txtProvince" type="text" class="bgn bn w200" value="{{data.province}}">
            </div>
            <div class="bb1sccc p15">
                <img src="/assets/images/a.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">城市</span>
                <input id="txtCity" type="text" class="bgn bn w200" value="{{data.city}}">
            </div>
            <div class="bb1sccc p15">
                <img src="/assets/images/addr.png" alt="" class="w25 p-r t-2">
                <span class="dib w70">地址</span>
                <input id="txtAddr" type="text" class="bgn bn w200" value="{{data.addr}}">
            </div>
            <div class="h80 mt30">
                <div class="col-xs-6 tc">
                    <button type="button" class="db w100 h40 bcf5ecc3 mc bn br5" onclick="save()">确认</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="db w100 h40 mc bcf5ecc3 bn br5" onclick="cancel()">取消</button>
                </div>
            </div>
        </div>
    </form>

    <!-- 页脚 -->
    <footer>
        <figure>
            <img src="/assets/images/logo.png" alt="">
        </figure>
        <div class="copyright">
            Copyright @2016 The Jin Yin Temple
        </div>
    </footer>
    {{>footmenu}}
</div>


<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>