<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共修</title>

    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jw.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{>sharepage}}
    <style>
        .left {
            position: absolute;
            left: 0;
            top: 0;
            width: 80px;
        }

        .center {

            width: auto; /*如果没有这一句，那么，center这个div的文字就不会自动换行*/
            margin: 0 80px 0 80px;

        }

        .right {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;

        }
    </style>

</head>
<body>
<div class="wrapper container-fluid bcfcf6d4 w100v ">
    <div class="mlr-15">
        <img src="/assets/images/bg001.jpg" alt="" class="w100-">
    </div>
    <ul class="mlr-15 mb0">
        {{#each data}}
            <li class="p-r w100- bcfff bb1sccc ofa">
                <div class="left ">
                    <img src="{{lesson.img}}" alt="" class="w50 br45 ml20 mt20">
                </div>
                <div class="center pl20">
                    <p class="pt20 fw7">{{lesson.name}}</p>
                    <p class="fs12 c999">
                        <span id="join_{{lesson._id}}">{{join}}</span>人共修
                        <span id="practice_{{lesson._id}}">{{practice}}</span>{{lesson.unit}}
                    </p>
                </div>
                <div class="right tr mr20">
                    <p class="l80 c999"><span id="flip_{{lesson._id}}" class="mr20 cff8c05 flip">报数</span>
                        <span class="glyphicon glyphicon-chevron-right cccc "></span>
                    </p>
                </div>

                <div class="pb20 plr15 panel mb0 dn">
                    <div class="p-r w100- fs16">
                        <div class="left l25"><img src="/assets/images/a.png" alt="" class="w20"> 报数</div>
                        <div class="center l25">
                            <input id="input_{{lesson._id}}" type="number" class="w100- h30 bceee bn br5 pl5">
                        </div>
                        <div class="right tr pr30">{{lesson.unit}}</div>
                    </div>
                    <div class="mt10 l25">
                        <img src="/assets/images/a.png" alt="" class="w20"> 回向
                    </div>
                    <div class="plr30">
                        <textarea class="form-control mt10 oln bceee mb20" rows="4"></textarea>
                        <button type="button" class="db bn br5 bcf5ecc3 w100- h30 sub "
                                onclick="announce('{{links.self}}', '{{lesson._id}}')">确认
                        </button>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
    <div class="mlr-15 bcfff pb30 plr30">
        <p class="tc fs20 fw7 l60 mb0 pt10">共修功德</p>
        <p class="ti2 l30 ffht ">万人共造善恶因,每人均得万人果。众人共修之功德是各人所修功德的总和,也就是说,如果万人同时参加共修,每个人于共修期间所造善业都将增长一万倍。</p>
    </div>

    <!-- 页脚 -->
    <footer>
        <figure>
            <img src="/assets/images/logo.png" alt="">
        </figure>
        <div class="copyright">
            Copyright @2016 The Jin Yin Temple
        </div>
    </footer>
    {{>footmenu}}
</div>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".flip").click(function () {
            $(this).closest("div").siblings(".panel").slideToggle();
            if ($(this).siblings(".glyphicon").hasClass("glyphicon-chevron-right")) {
                $(this).siblings(".glyphicon").removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-down");
            } else {
                $(this).siblings(".glyphicon").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
            }
        })
    });

    function announce(url, inputid) {
        var num = Math.round($("#input_" + inputid).val() * 1);
        if (num <= 0) return;

        $.ajax({
            url: url,
            method: 'POST',
            contentType: "application/json",
            data: JSON.stringify({num: num}),
            success: function () {
                $.ajax({
                    url: url,
                    method: 'GET',
                    contentType: "application/json",
                    success: function (result) {
                        $("#join_" + inputid).text(result.data.join);
                        $("#practice_" + inputid).text(result.data.practice);
                        $("#flip_" + inputid).click();
                        $("#input_" + inputid).val('');
                    }
                });
            }
        })
    }
</script>
</body>
</html>