<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我</title>
    <link href="/assets/css/reset.css" rel="stylesheet">
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/me.css" rel="stylesheet">
    <link href="/assets/css/jw.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="wrapper container-fluid">
    <!-- header -->
    <div class="row header mt0">
        <div class="headwrap">
            <div class="row">
                <div class="col-xs-10 headleft ofe" onclick="window.location = '{{links.profile}}';">
                    <div class="logoaImg">
                        <img src="{{lord.img}}" alt="" class="br40">
                    </div>
                    <span class="logoaTitle" style="font-size: 16px">
                        {{lord.name}}
                    </span>
                </div>
                <div class="col-xs-2 headright ">
                    <span class="glyphicon glyphicon-chevron-right"
                          onclick="window.location = '{{links.profile}}';">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- tabsMenu -->
    <div class="row  tabsMenu">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="col-xs-4 active"><a href="#count" aria-controls="count" role="tab" data-toggle="tab">
                <div class="tabsMenuIcon"><img src="/assets/images/icon1.png" alt=""></div>
                捐助</a></li>
            <li class="col-xs-4 "><a href="#rank" aria-controls="rank" role="tab" data-toggle="tab">
                <div class="tabsMenuIcon"><img src="/assets/images/icon2.png" alt=""></div>
                祈福</a></li>
            <li class="col-xs-4 "><a href="#sound" aria-controls="sound" role="tab" data-toggle="tab">
                <div class="tabsMenuIcon"><img src="/assets/images/icon3.png" alt=""></div>
                功课</a></li>
            <!--<li class="col-xs-3 "><a href="#share" aria-controls="share" role="tab" data-toggle="tab">
                <div class="tabsMenuIcon"><img src="/assets/images/icon4.png" alt=""></div>
                义工</a></li>-->
        </ul>

    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- 捐助 -->
        <div class="tab-pane active  fade in  count" id="count">
            <div class=" l50 mlr-15 plr15 bcfff c666 ">
                <div class="bb1seee">
                    <img src="/assets/images/a.png" alt="" class="w20 p-r t-2">
                    <span class="dib w70 ">日行一善</span>
                    <span class="#ccc pull-right pr15">></span>
                </div>
                <div class="p15 pt0 tc">
                    <div class="row c999">
                        <div class="col-xs-4">期间</div>
                        <div class="col-xs-4">次数</div>
                        <div class="col-xs-4">金额</div>
                    </div>
                    <div class="row bb1seee">
                        <div class="col-xs-4 c999">今天</div>
                        <div class="col-xs-4">{{virtues.daily.thisday.count}}</div>
                        <div class="col-xs-4">￥{{virtues.daily.thisday.sum}}</div>
                    </div>
                    <div class="row bb1seee">
                        <div class="col-xs-4 c999">本月</div>
                        <div class="col-xs-4">{{virtues.daily.thisMonth.count}}</div>
                        <div class="col-xs-4">￥{{virtues.daily.thisMonth.sum}}</div>
                    </div>
                    <div class="row bb1seee">
                        <div class="col-xs-4 c999">累计</div>
                        <div class="col-xs-4">{{virtues.daily.total.count}}</div>
                        <div class="col-xs-4">￥{{virtues.daily.total.sum}}</div>
                    </div>
                </div>
            </div>

            <div class=" mlr-15 mt10 plr15  bcfff c666 ">
                <div class="h40 l40">
                    <img src="/assets/images/a.png" alt="" class="w20 p-r t-2">
                    <span class="dib w70">随缘项目</span>
                    <span class="#ccc pull-right pr15">></span>
                </div>
                <div class="bb1seee h30 fs14">
                    <div class="col-xs-6">总次数：<span class="cf00 fw6">{{virtues.virtues.count}}</span></div>
                    <div class="col-xs-6">累计金额：<span class="cf00 fw6">{{virtues.virtues.sum}}</span></div>
                </div>
                <div class="bcfff tl">
                    {{#each virtues.virtues.details}}
                        <div class=" p5 h60 ">
                            <figure class="col-xs-2 pl0">
                                <img src="{{img}}" alt="" class="w50">
                            </figure>
                            <div class="col-xs-10 bb1seee pb5">
                                <div class="dib ">
                                    <h4 class="m0 pt5 fs16 c000">{{subject}}</h4>
                                    <span class="fs12">￥{{amount}}</span>
                                </div>
                                <div class="dib pull-right fs12 c999">
                                    {{dateMMDD date}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="tc fs14 h60 l60"><a href="#" class="cff8c05">点击查看更多内容</a></div>
                <a href="http://jingyintemple.top/jingyin/payment/share">share</a>
            </div>

        </div>

        <!-- 功课 -->
        <div class="tab-pane fade   rank" id="rank">
        </div>

        <!-- 活动 -->
        <div class="tab-pane  fade sound" id="sound">
        </div>

        <!-- 义工 -->
        <div class="tab-pane  fade share" id="share">
        </div>
    </div>
    <!-- 页脚 -->
    <footer>
        <figure>
            <img src="/assets/images/logo.png" alt="">
        </figure>
        <div class="copyright">
            Copyright @2016 The Jin Yin Temple
        </div>
    </footer>
    {{>footmenu}}
</div>


<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>