<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{data.lesson.name}}</title>

    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jw.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{>sharepage}}
    <style>
        .left {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
        }

        .center {

            width: auto; /*如果没有这一句，那么，center这个div的文字就不会自动换行*/
            margin: 0 80px 15px 80px;

        }

        .center2 {

            width: auto; /*如果没有这一句，那么，center这个div的文字就不会自动换行*/
            margin: 0 0px 15px 80px;

        }

        .center input {
            width: 100%;
        }

        .right {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;

        }

        .input_z {
            margin: 0 10px 0 70px;
            width: 20%;
        }

        .input_f {
            margin: 0 10px 0 10px;
            width: 20%;
        }
    </style>

</head>
<body>
<div class="wrapper container-fluid bcfcf6d4 w100v ">
    <div class="mlr-15">
        <img src="/uploads/{{data.lesson.banner}}" alt="" class="w100-">
    </div>
    <ul class="mlr-15 mb0">
        <li class="p-r w100- bcfff bb1sccc ofa">
            <div class="left ">
                <img src="/uploads/{{data.lesson.img}}" alt="" class="w50 br45 ml20 mt20">
            </div>
            <div class="center2 pl20">
                <p class="pt20 fw7">{{data.lesson.name}}</p>
                <p class="fs12 c666">
                    <span>{{data.join}}</span>人共修
                    <span>{{data.practice}}</span>{{data.lesson.unit}}
                </p>
            </div>

            <div class="pb20 plr15 panel mb0">
                <div class="p-r w100- fs16">
                    <div class="left l35"><img src="/img/a.png" alt="" class="w20"> 报数</div>
                    <div class="center l35 input_z fl">
                        <input id="input_times" type="number" class="w100- h35 bceee bn br5 pl5">
                    </div>
                    <!-- <div class="right tr pr30">{{lesson.unit}}</div>-->
                    <div class="l35 fl">座</div>
                    <div class="center l35 input_f fl">
                        <input id="input_number" type="number" class="w100- h35 bceee bn br5 pl5">
                    </div>
                    <div class="l35 fl">分钟</div>
                    <div class="cl"></div>
                </div>
                <div class="l30">
                    <img src="/img/a.png" alt="" class="w20"> 回向
                </div>
                <div class="plr30">
                    <textarea id="input_give" class="form-control mt10 oln bceee mb20"
                              rows="4">{{data.me.give}}</textarea>
                    <button type="button" class="db bn br5 bcf5ecc3 w100- h30 sub "
                            onclick="announce('{{links.toReport}}', '{{links.lessons}}')">确认
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="mlr-15 bcfff pb30 plr30">
        <p class="tc fs20 fw7 l60 mb0 pt10">共修功德</p>
        <p class="ti2 l30 ffht ">
            《金刚顶瑜伽文殊师利菩萨经》曰：持诵“文殊智慧咒”，罪障消灭，获无尽辩才，所求世间、出世间事悉得成就，离诸苦恼，五无间等一切罪障永尽无余，证悟一切诸三昧门，获大闻持，成阿耨多罗三藐三菩提等等。</p>
        <p class="ti2 l30 ffht ">常常念诵文殊心咒，可以增长福德、智慧，还可以增强记忆力，辩才无碍。对修行人来说，更可消除愚痴，了知诸法实相。</p>
    </div>

    <!-- 页脚 -->
    <footer>
        <figure>
            <img src="/img/logo.png" alt="">
        </figure>
        <div class="copyright">
            Copyright @2016 The Jin Yin Temple
        </div>
    </footer>
    {{>footmenu}}
</div>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
    });

    function backTo(destUrl) {
        window.location = destUrl;
    }

    function announce(url, destUrl) {
        var times = Math.round($("#input_times").val() * 1);
        var num = Math.round($("#input_number").val() * 1);
        if(num === 0 && times === 0 || num * times < 0) return;
        if(times === 0 && num > 0) times = 1; // 如果为实报，则座数缺省为1

        var give = $('#input_give').val().trim();
        var data = JSON.stringify({
            times: times,
            num: num,
            give: give
        });
        //alert(data);
        $.ajax({
            url: url,
            method: 'POST',
            contentType: "application/json",
            data: data,
            success: function () {
                window.location = destUrl;
            }
        })
    }
</script>
</body>
</html>