<div class="public">
    <div class="scroll" style="height: 500px;">
        <div id="scrollBody" style="background-color: inherit; width: 100%; height: 400px; overflow: hidden;">
            <table width="100%">
                {{#each virtues}}
                    <tr>
                        <td width="150">{{dateMMDD date}}</td>
                        <td width="200">{{lord}}</td>
                        <td width="350" style="text-align: right">{{subject}}</td>
                        <td width="20"></td>
                        <td width="100"> {{#if num}}{{num}}份{{/if}}</td>
                        <td width="20"></td>
                        <td>计</td>
                        <td style="text-align: right">{{amount}}元</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="summary">
        <div class="text"><img src="/images/icon1.jpg">&nbsp;&nbsp;随缘乐助<span>{{times}}</span>人次，功德无量！</div>
    </div>
</div>