<div class="public">
    <div class="scroll">
        <div id=demo style="width: 100%; height: 400px; overflow: hidden;">
            <div id=demo1>
                <table width="100%">
                    {{#each virtues}}
                        <tr>
                            <td width="210">{{date}}</td>
                            <td width="310">{{lord}}</td>
                            <td width="380">{{subject}}{{num}}份</td>
                            <td>计{{amount}}元</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <div id=demo2></div>
        </div>
        <div class="text"><img src="/images/icon1.jpg">随缘乐助<span>1111</span>人次，功德无量！</div>
    </div>
</div>